# vim: ft=systemd
[Unit]
Description=Panel is an Administrative Web UI for Trunk
After=gild.service
Conflicts=umount.target
Before=umount.target

[Service]
Type=exec
ExecStartPre=-/usr/bin/podman rm -f panel
ExecStart=/usr/bin/podman run --pull=always --name panel -p 80:80 quay.io/trunk-os/panel:latest
Restart=always

[Install]
WantedBy=default.target
